body {
	font-family: "roboto", sans-serif;
	color: var(--primary-text-color);
	background: var(--title-second-color);
}

.list {
	list-style: none;
}

.link {
	color: currentColor;
	text-decoration: none;
}

.no-scroll {
	overflow: hidden;
}
